<button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
<div class="row">
  <div class="col-md-12 form-group">
    <input type="text" class="form-control" #country placeholder="Country">
  </div>
  <div class="col-md-8 form-group">
      <input type="text" class="form-control" #code placeholder="Country Code">
  </div>
  
  
  <div class="col-md-4 form-group"><button class="btn btn-primary" (click)="onCreate(country.value, code.value)" class="form-control">Create</button></div>
  
</div>