.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #11172b;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.displayNone {
    display: block;
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .head{
    padding: 10px;
    background-color: #d6d4ce;
  }
  .top{
    margin-top:80px;
    display: flex;
    flex-direction: column;
   
  }
  .topMob{
    margin-top: 80px;
  }
  
  .titleStyle {
    font-family: 'HelveticaNeue';
    cursor: pointer;
  }
  .titleStyle:hover {
      text-decoration-line: underline;
      text-decoration-color: rgb(42, 53, 82);
  }
  a{
    font-size: 16px;
    padding: 10px;
color: black;
  }

  