<form [formGroup]="orderForm">
  <div class="row ">
    <div class="col-md-4 pageBoxLg">
      <div class="row ">
        <div class="col-md-6">Order <b> {{orderModel?.orderId}}</b> Details</div>
        <div class="col-md-6">
          <button class="btn" (click)="poGenerate()">PO Generate</button>
        </div>
        <!--  <div class="col-md-12 space">
          <p>General</p>
        </div> -->

        <div class="col-md-12 space">
          <div>
            <p>Date created</p>
          </div>
          <div>
            <b> {{orderModel?.orderDate | date}}</b>
          </div>
        </div>
        <div class="col-md-12 space">
          <div>
            <p>Status</p>
          </div>
          <div class="row">
            <mat-form-field class="full-width">
              <mat-select placeholder="Status Update" formControlName="statusType" [ngModel]="orderModel.orderStatus || null">
                <mat-option *ngFor="let data of status" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
<div class="row" *ngIf="orderModel.orderStatus === 'Out For Delivery'">
  <mat-form-field class="full-width">
    <input matInput placeholder="AWB No" formControlName="AWBNo" required>
  </mat-form-field>
</div>
         
<div class="row" *ngIf="orderModel.orderStatus === 'Out For Delivery'">
  <button mat-raised-button color="primary" (click)="updateAWB()">Update Status</button>
</div>
<div class="row" *ngIf="orderModel.orderStatus !== 'Out For Delivery'">
            <button mat-raised-button color="primary" (click)="updateStatus()">Update Status</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 pageBoxLg">
      <div class="row ">
        <div class="col-md-12">
          <b>Customer Details</b>
          <div>
            <b> {{customerDetail?.firstName}}</b>
          </div>


          <div>
            {{customerDetail?.emailId}}
          </div>
          <div>
            {{customerDetail?.mobileNumber}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pageBoxLg">
      <div class="row ">
        <div class="col-md-12">
          <div *ngFor="let data of orderModel.addressDetails">
            <b>Delivery Address</b>
            <div>
              <b> {{data.name}}</b>
            </div>
            <div>
              {{data.building}}
            </div>
            <div>
              {{data.streetAddress}}
            </div>
            <div>
              {{data.landmark}}
            </div>
            <div>
              {{data.city}} - {{data.pincode}}
            </div>
            <div>
              {{data.state}}
            </div>
            <div>
              Mobile Number : <b>{{data.mobileNumber}}</b>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-10 pageBoxLg">
      <div class="row">
        <div class="col-md-1">
          <p>Product</p>
        </div>
        <div class="col-md-1">
          <p>Product Name</p>
        </div>
        <div class="col-md-1">
          <p>Price</p>
        </div>
        <div class="col-md-1">
          <p>Discount</p>
        </div>
        <div class="col-md-1">
          <p>Quantity</p>
        </div>
        <div class="col-md-1">
          <p>INT SKU Code</p>
        </div>
        <div class="col-md-1">
          <p>Vendor's SKU Code</p>
        </div>
        <div class="col-md-1">
            <p>Body Height</p>
          </div>
          <div class="col-md-1">
              <p>Plus Size Charge</p>
            </div>
          <div class="col-md-1">
              <p>Tailoring Service Type</p>
            </div>
            <div class="col-md-1">
                <p>Review</p>
              </div>
      </div>
      <div *ngFor="let data of orderModel?.cart; let i = index">
        <div class="row" *ngFor="let prod of orderModel?.orderedProducts ; let j = index">
          <div class="col-md-1">
            
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">

                  <img class="img-fluid" style="height: 150px;width:200px;"
                    [src]="childdata.productImage[0].productImageName">
                </div>

              </div>
            </div>

          </div>
          <div class="col-md-1">
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child ">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">
                  <p>{{childdata.productName}}</p>
                </div>

              </div>
            </div>

          </div>
          <div class="col-md-1">
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child ">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">

                  <p>{{childdata.price | number : '1.2-2'}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child ">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">

                  <p>{{childdata.discount}} %</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1">
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child ">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">

                  <p>{{data.qty}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child ">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">

                  <p>{{childdata.INTsku}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <div *ngFor="let singledata of prod">
              <div *ngFor="let childdata of singledata.child ">
                <div *ngIf="childdata.INTsku === data.INTsku && i === j">
                  <p>{{childdata.sku}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
              <div *ngFor="let singledata of prod">
                <div *ngFor="let childdata of singledata.child ">
                  <div *ngIf="childdata.INTsku === data.INTsku && i === j">
                    <p>{{data.bodyHeight}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
                <div *ngFor="let singledata of prod">
                  <div *ngFor="let childdata of singledata.child ">
                    <div *ngIf="childdata.INTsku === data.INTsku && i === j">
                      <p>{{childdata.sizeWisePrice !== undefined ? childdata.sizeWisePrice : 'None'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-1" >
                <div *ngFor="let singledata of prod">
                  <div *ngFor="let childdata of singledata.child ">
                    <div *ngIf="childdata.INTsku === data.INTsku && i === j">
                      <p *ngIf="data.tailoringService === true">
                        <span *ngFor="let val of orderModel?.measurement">
                        <a *ngIf="data.isMeasurement === true && data.serviceId === val._id" 
                        (click)="getMeasurment(val)">Measurement</a></span>
                      <a *ngIf="data.isUnstitched === true">Unstitched</a></p>
                      <p *ngIf="data.tailoringService === false">None</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                  <div *ngFor="let singledata of prod">
                    <div *ngFor="let childdata of singledata.child ">
                      <div *ngIf="childdata.INTsku === data.INTsku && i === j">
      
                        <p  (click)="openDialog(childdata)">View</p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <!-- <div class="row" *ngFor="let prod of data">
          <div class="col-md-6">
            <img class="img-fluid" style="height: 150px;width:200px;"
              [src]="productImageUrl +  prod._id +'/'+  prod.productImageName[0]">
          </div>
          <div class="col-md-1">
            <p>{{prod?.productName}}</p>
          </div>


          <div class="col-md-1">
            <p>{{prod?.price}}</p>
          </div>
          <div class="col-md-1">
            <div *ngFor="let cartdata of orderModel.cart">
              <div *ngFor="let val of prod.productVariant"> 
                  <p *ngIf="cartdata.sku === val.sku">{{cartdata?.qty}}</p>
              </div>
            </div>
           
            </div>
            <div class="col-md-1">
              <div *ngFor="let cartdata of orderModel.cart">
                <div *ngFor="let val of prod.productVariant"> 
                  <p *ngIf="cartdata.sku === val.sku">{{cartdata?.sku}}</p>
              </div>
              </div>
             
              </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
            <p class="float-right"><b *ngIf="isCoupon">({{orderModel?.coupon[0].couponCode}})</b><b>Coupon: </b><b *ngIf="!isCoupon">None</b><b *ngIf="isCoupon"> {{orderModel?.coupon[0].typeValue}}<span *ngIf="orderModel?.coupon[0].amountType === 'Percentage'">%</span></b></p>
        </div>
        <div class="col-md-12">
            <p class="float-right"><b>Shipping: {{orderModel?.shipingFees}}</b></p>
        </div>
        <div class="col-md-12 ">
            
          <p class="float-right"><b>Total: {{orderModel?.total | number : '1.2-2'}}</b></p>
        </div>
      </div>

    </div>

  </div>
  <!--  <div class="row" *ngIf="orderModel?.paymentMode === 'Payment gateway'">
    <div class="col-md-10 pageBoxLg">
      <div class="row">
        <div class="col-md-3">
          <b>Payment Id</b>
        </div>
        <div class="col-md-2">
          <b>Payment Gateway OrderId</b>
        </div>
        <div class="col-md-3">
          <b>Mode</b>
        </div>
        <div class="col-md-3">
          <b>Price</b>
        </div>
        <div class="col-md-1">
          <b>Payment Status</b>
        </div>
      </div>
      <div >
        
<div class="row">
  <div class="col-md-3">
    <p>{{orderModel?.razorpayPaymentId}}</p>
  </div>
  <div class="col-md-2">
    <p>{{orderModel?.razorPayOrderId}}</p>
  </div>
    <div class="col-md-3">
      <p>{{orderModel?.paymentMode}}</p>
    </div>


    <div class="col-md-3">
      <p>{{orderModel?.total}}</p>
    </div>
    
    <div class="col-md-1">
      <p>{{orderModel?.paymentStatus}}</p>
    </div>
</div>
        
         
            
      </div>
     

    </div>

  </div> -->
</form>
