<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <mat-card class="newNow">
        <p style="padding-top: 21px;padding-left: 20px"> Category > Main Category > Add</p>
      </mat-card>

  </div>
<mat-card class="pageBoxLg">
  <form [formGroup]="mainCategoryForm" (ngSubmit)="addMainCategory()" novalidate style="padding-top:30px">
    <div class="container-fluid">
      <div class="row">
          <div class="categoryField Categoryimage col-md-6">
            <div class="form-group">
               
             <!--  <div  *ngIf="!isChangeImage">
                  <div> <label class="chooseimages" ><h5><b>Edit (images)</b></h5> </label></div>
                  <img class="img-fluid" [src]="categoryImageUrl + holder._id + '/' + holder.mainCategoryImageName" height="auto" width="100px" />
                  <mat-icon class="selectValue" (click)="changeImage()">edit</mat-icon>
              </div> -->
              <div class="card" style="margin:20px; padding: 15px;">
                  <div> <label class="chooseimages" ><h5><b>Choose (images)</b></h5> </label></div>
                  <label>
                      <input type="file" (change)="handleFileInput($event.target.files)" >
                    </label>
                    <label *ngFor="let url of urls">
                        <img class="img-fluid imgEdit" [src]="url"  />
                    </label>
                    <mat-icon (click)="cancelImageUpdate()" style="color: rgb(95, 12, 12); cursor: pointer;">cancel</mat-icon>
                  <!--   <button class="btn" (click)="uploadImages()">Save</button> -->
              </div>




            </div>
            </div>          

        <div class="form-group col-md-6">
          <div class="card" style="padding: 20px; margin-top: 17px;">
          <!-- <h5 class="detailsNow">Details</h5> -->
          <div class="form-group col-md-12">
              <mat-form-field class="example-full-width">
                  <mat-select #selectElem (selectionChange)="setNewUser(selectElem.value)"
                    placeholder="Select super category">
                    <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
                      {{category.categoryName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="form-group col-md-12">
              <mat-form-field class="example-full-width">
                  <mat-label>Main Category Name</mat-label>
                  <input matInput placeholder="Main Category Name" formControlName="mainCategoryName" required #name
                    (keyup)="categoryVerify(name.value)">
  
                  <mat-error *ngIf="mainCategoryForm.controls['mainCategoryName'].errors?.required">
                    Main Category Name is
                    <strong>required</strong>
                  </mat-error>

                </mat-form-field>
             
          </div>
          <div class="form-group col-md-12">
              <mat-form-field class="example-full-width">
                  <mat-label>Main Category Description</mat-label>
                  <input matInput placeholder="Main Category Description" formControlName="mainCategoryDescription" #desc>
                  <mat-error *ngIf="mainCategoryForm.controls['mainCategoryDescription'].errors?.required">
                    Main Category Description
                    <strong>required</strong>
                  </mat-error>

                </mat-form-field>
                <div *ngFor="let data of selectedmainCategoryModel">
                    <div *ngIf="data.mainCategoryNameError">
                      <small style="color: red">Main Category Name already <strong>exists</strong></small>
                    </div>
                  </div>     
                     
          </div>
     
          <div class="form-group col-md-12">
              <!-- <input [disabled]="duplicationError  || !mainCategoryForm.valid" class="btn btn-primary" type="submit"
              value="Save"> -->
              <button mat-raised-button type="reset" (click)="addMainCategory()"
              [disabled]="duplicationError  || !mainCategoryForm.valid"  class="addButtons">Save</button>
              
            <button class="addButtons" mat-flat-button  type="reset" (click)="cancelMainCategory()">Cancel</button>
            <br>
          </div>
        </div>
        </div>
        
      </div>
      
      <div class="grid" formArrayName="attribute">
          <div class="row gridRow">
            <div class="col-md-6">
              <div class="form-group p-2">
                  <!-- <button class="addButton" mat-flat-button color="primary" (click)="addForm()"> <i
                    class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <a style="margin-left: 10px;">Add Field</a> </button> -->
            

                <input class="btn addButtons" style="height: 30px;width:100px" (click)="addForm()" type="button" value="Add Field">
              </div>
            </div>
            <!--  <div class="col-md-6">
                <div class="pull-right">
                  <input (click)="addSubCategory()" [disabled]="!superCategoryForm.valid" class="btn btn-danger"
                    type="submit" value="Save">
                </div>
              </div> -->
          </div>
          <div class="row gridRow" 
          *ngFor="let fie of mainCategoryForm['controls'].attribute['controls']; let i=index"
            [formGroupName]="i">
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Field Name</mat-label>
                  <input matInput formControlName="fieldName" placeholder="Field Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-radio-group (change)="selectDropdown($event, i)"
                  [(value)]="mainCategoryForm['controls'].attribute['controls'][i].value.fieldType"
                  aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let field of fieldType" [value]="field">
                    {{field}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-radio-group (change)="selectTypeSetting($event, i)"
                  [(value)]="mainCategoryForm['controls'].attribute['controls'][i].value.fieldSetting"
                  aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let def of fieldSettingType" [value]="def">
                    {{def}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-md-1">
            <section class="example-section">
              <label>Field Enable</label>
              <mat-slide-toggle formControlName="fieldEnable" [required]="false">
              </mat-slide-toggle>
            </section>
          </div>
          <div class="col-md-1">
            <section class="example-section">
                <label>Field Enable Value</label>
              <mat-slide-toggle formControlName="fieldEnableValue" [required]="false">
              </mat-slide-toggle>
            </section>
          </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12"
                  *ngIf="mainCategoryForm['controls'].attribute['controls'][i].value.fieldType !== 'Text'">
                  <!--   <div class="col-md-6">
                        <div class="pull-right">
                          
                        </div>
                      </div> -->
    
                  
                  <div formArrayName="fieldValue">
                    <div class="row" *ngFor="let Y of fie['controls'].fieldValue['controls']; let iy=index">
                      <div class="col-md-9" formGroupName="{{iy}}">
    
                        <mat-form-field appearance="outline">
                          <mat-label>Field Value</mat-label>
                          <input matInput formControlName="fieldAttributeValue" placeholder="Field Value">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <a (click)="removeFiledValue(i, iy)">
                          <mat-icon>clear</mat-icon>
                        </a>
                      </div>
    
                    </div>
                  </div>
                  <input class="btn btn-sm btn-danger" (click)="addFiledValue(i)" type="button" value="Field Search Value">
    
                </div>
    
              </div>
            </div>
    
            <div class="col-md-2" style="padding: 10px;">
              <div class="form-group">
                <a (click)="deleteAttribute(i)">
                  <mat-icon>clear</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</mat-card>