<!-- <div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Product /  How To Mesure / Edit</p>
    </div>
  <div class="pageBoxLg">
  <form [formGroup]="howToMeasureForm">
  <div class="row container">
    <div class="col-md-12 text-start">
        <label  class="pageBoxLg-label pblabel">Edit How To Mesure</label>
      
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label >How To Measure Title</mat-label>
            <input matInput formControlName="name" [ngModel]="holder?.name" type="text">
            <mat-error *ngIf="howToMeasureForm.controls['name'].errors?.required">
                How To Mesure Title is
              <strong>required</strong>
            </mat-error>
          </mat-form-field> -->

          <!-- <mat-form-field appearance="outline"> -->
              <!-- <mat-label >How To Measure Title</mat-label> -->
              <!-- <input matInput formControlName="detail1" [ngModel]="holder?.detail.name[0]" type="text">
              <mat-error *ngIf="howToMeasureForm.controls['detail1'].errors?.required">
                  How To Mesure Title is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
    </div> -->

    <!-- <div class="col-md-6" *ngIf="!isImageChanes">
        <img [src]="howToMeasureUrl + holder?._id + '/' + holder?.imageName" style="width: 180px; height: 145px;" /> -->
        <!-- <mat-icon class="selectValue" (click)="changeImage()">edit</mat-icon> -->
   <!--  </div> -->
    <!-- <div class="col-md-6" *ngIf="isImageChanes">
        <label>
            <input type="file" (change)="handleFileInput($event.target.files)" >
          </label>
          <label *ngFor="let url of urls">
              <img class="img-fluid" [src]="url" width="100px" height="100px" />
          </label>
          <mat-icon (click)="cancelImageUpdate()">cancel</mat-icon>
    </div> -->
    <!-- <div class="col-md-1"></div>
    <div class="col-md-1 text-center">
      <button mat-raised-button color="primary" (click)="submitUpdate(sizeGuideForm)">Update</button>
    </div>
    <div class="col-md-1 text-center">
      <button mat-raised-button color="primary" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
  </form>
  </div> -->
  
  <!-- <div class="pageBoxLg">
    <form [formGroup]="sizeGuideForm">
    <div class="row container">
      <div class="col-md-12 text-center">
        <label> Edit Size Guide </label>
      </div>
      <div class="col-md-6">
          <mat-form-field appearance="outline">
              <mat-label >Size Guide Title</mat-label>
              <input matInput formControlName="title" [ngModel]="holder?.title" type="text">
              <mat-error *ngIf="sizeGuideForm.controls['title'].errors?.required">
                Size Guide Title is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="!isImageChanes">
          <img [src]="sizeGuideUrl + holder?._id + '/' + holder?.imageName" style="width: 180px; height: 145px;" />
          <mat-icon class="selectValue" (click)="changeImage()">edit</mat-icon>
      </div>
      <div class="col-md-6" *ngIf="isImageChanes">
          <label>
              <input type="file" (change)="handleFileInput($event.target.files)" >
            </label>
            <label *ngFor="let url of urls">
                <img class="img-fluid" [src]="url" width="100px" height="100px" />
            </label>
            <mat-icon (click)="cancelImageUpdate()">cancel</mat-icon>
      </div>
      <div class="col-md-6 text-center">
        <button mat-raised-button color="primary" (click)="submitUpdate(sizeGuideForm)">Update</button>
      </div>
      <div class="col-md-6 text-center">
        <button mat-raised-button color="primary" (click)="cancelUpdate()">Cancel</button>
      </div>
    </div>
  </form>
  </div> -->