<button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data.typeName">
          <th scope="row">1</th>
          <td>Type</td>
          <td>{{data.typeName}}</td>
        </tr>
        <tr *ngIf="data.typeDescription">
          <th scope="row">2</th>
          <td>Discription</td>
          <td> {{data.typeDescription}}</td>
        </tr>
        <tr *ngIf="data.aroundBust">
          <th scope="row">3</th>
          <td>aroundBust</td>
          <td> {{data.aroundBust}}</td>
        </tr>
        <tr *ngIf="data.aroundAboveWaist">
            <th scope="row">4</th>
            <td>Around Above Waist</td>
            <td>   {{data.aroundAboveWaist}}</td>
          </tr>
         <tr *ngIf="data.blouseLength">
            <th scope="row">5</th>
            <td>Blouse Length</td>
            <td>  {{data.blouseLength}}</td>
        </tr>
        <tr *ngIf="data.frontNeckStyle">
           <th scope="row">6</th>
           <td>Front Neck Style</td>
           <td> {{data.frontNeckStyle}}</td>
        </tr>
          <tr *ngIf="data.frontNeckDepth">
             <th scope="row">7</th>
             <td>Front Neck Depth</td>
             <td> {{data.frontNeckDepth}}</td>
          </tr>
          <tr *ngIf="data.backNeckStyle">
              <th scope="row">8</th>
              <td>Back Neck Style</td>
              <td> {{data.backNeckStyle}}</td>
           </tr>
           <tr *ngIf="data.backNeckDepth">
              <th scope="row">9</th>
              <td>Back Neck Depth</td>
              <td> {{data.backNeckDepth}}</td>
           </tr>
           <tr *ngIf="data.sleeveStyle">
              <th scope="row">10</th>
              <td>Sleeve Style</td>
              <td> {{data.sleeveStyle}}</td>
           </tr>
           <tr *ngIf="data.aroundArm">
              <th scope="row">11</th>
              <td>Around Arm</td>
              <td> {{data.aroundArm}}</td>
           </tr>
           <tr *ngIf="data.closingSide">
              <th scope="row">12</th>
              <td>Closing Side</td>
              <td> {{data.closingSide}}</td>
           </tr>   
           <tr *ngIf="data.closingWith">
              <th scope="row">13</th>
              <td>Closing With</td>
              <td> {{data.closingWith}}</td>
           </tr> 
           <tr *ngIf="data.lining">
              <th scope="row">14</th>
              <td>Lining</td>
              <td> {{data.lining}}</td>
           </tr> 
           <tr *ngIf="data.specialInstruction">
              <th scope="row">15</th>
              <td>Special Instruction</td>
              <td> {{data.specialInstruction}}</td>
           </tr> 
           <tr *ngIf="data.aroundHip">
            <th scope="row">16</th>
            <td>Around Hip</td>
            <td> {{data.aroundHip}}</td>
         </tr> 
         <tr *ngIf="data.kameezLength">
          <th scope="row">17</th>
          <td>Kameez Length</td>
          <td> {{data.kameezLength}}</td>
       </tr> 
       <tr *ngIf="data.kameezClosingSide">
        <th scope="row">18</th>
        <td>Kameez Closing Side</td>
        <td> {{data.kameezClosingSide}}</td>
     </tr> 
     <tr *ngIf="data.kameezClosingWith">
      <th scope="row">19</th>
      <td>Kameez Closing With</td>
      <td> {{data.kameezClosingWith}}</td>
   </tr> 
   <tr *ngIf="data.bottomStyle">
    <th scope="row">20</th>
    <td>Bottom Style</td>
    <td> {{data.bottomStyle}}</td>
 </tr> 
 <tr *ngIf="data.fitOption">
  <th scope="row">21</th>
  <td>Fit Option</td>
  <td> {{data.fitOption}}</td>
</tr> 
<tr *ngIf="data.aroundWaist">
  <th scope="row">22</th>
  <td>Around Waist</td>
  <td> {{data.aroundWaist}}</td>
</tr> 
<tr *ngIf="data.aroundThigh">
  <th scope="row">23</th>
  <td>Around Thigh</td>
  <td> {{data.aroundThigh}}</td>
</tr> 
<tr *ngIf="data.aroundKnee">
  <th scope="row">24</th>
  <td>Around Knee</td>
  <td> {{data.aroundKnee}}</td>
</tr> 
<tr *ngIf="data.aroundCalf">
  <th scope="row">25</th>
  <td>Around Calf</td>
  <td> {{data.aroundCalf}}</td>
</tr> 
<tr *ngIf="data.aroundBottom">
  <th scope="row">26</th>
  <td>Around Bottom</td>
  <td> {{data.aroundBottom}}</td>
</tr> 
<tr *ngIf="data.bottomLength">
  <th scope="row">27</th>
  <td>Bottom Length</td>
  <td> {{data.bottomLength}}</td>
</tr> 
<tr *ngIf="data.waistClosingSide">
  <th scope="row">28</th>
  <td>Waist Closing Side</td>
  <td> {{data.waistClosingSide}}</td>
</tr> 
<tr *ngIf="data.waistClosingWith">
  <th scope="row">29</th>
  <td>Waist Closing With</td>
  <td> {{data.waistClosingWith}}</td>
</tr> 
           <tr *ngIf="data.price">
              <th scope="row">30</th>
              <td>Price</td>
              <td> {{data.price}}</td>
           </tr> 
           <tr *ngIf="data.discount">
              <th scope="row">31</th>
              <td>Discount</td>
              <td> {{data.discount}}</td>
           </tr> 
                 
      </tbody>
    </table>








<!-- 
<div class="row">
  <div class="col-md-3 form-group">
    <label>Type</label>
  </div>
  <div class="col-md-3 form-group">
    {{data.typeName}}
  </div>
  <div class="col-md-3 form-group">
    <label>Discription</label>
  </div>
  <div class="col-md-3 form-group">
    {{data.typeDescription}}
  </div>
  <div class="col-md-3 form-group">
    <label>aroundBust</label>
  </div>
  <div class="col-md-3 form-group">
    {{data.aroundBust}}
  </div>
  <div class="col-md-3 form-group">
      <label>Around Above Waist</label>
    </div>
    <div class="col-md-3 form-group">
      {{data.aroundAboveWaist}}
    </div>
    <div class="col-md-3 form-group">
      <label>Blouse Length</label>
    </div>
    <div class="col-md-3 form-group">
      {{data.blouseLength}}
    </div>
    <div class="col-md-3 form-group">
        <label>Front Neck Style</label>
      </div>
      <div class="col-md-3 form-group">
        {{data.frontNeckStyle}}
      </div>
      <div class="col-md-3 form-group">
        <label>Front Neck Depth</label>
      </div>
      <div class="col-md-3 form-group">
        {{data.frontNeckDepth}}
      </div>
      <div class="col-md-3 form-group">
          <label>Back Neck Style</label>
        </div>
        <div class="col-md-3 form-group">
          {{data.backNeckStyle}}
        </div>
        <div class="col-md-3 form-group">
          <label>Back Neck Depth</label>
        </div>
        <div class="col-md-3 form-group">
          {{data.backNeckDepth}}
        </div>
        <div class="col-md-3 form-group">
            <label>Sleeve Style</label>
          </div>
          <div class="col-md-3 form-group">
            {{data.sleeveStyle}}
          </div>
          <div class="col-md-3 form-group">
            <label>Around Arm</label>
          </div>
          <div class="col-md-3 form-group">
            {{data.aroundArm}}
          </div>
          <div class="col-md-3 form-group">
              <label>Closing Side</label>
            </div>
            <div class="col-md-3 form-group">
              {{data.closingSide}}
            </div>
            <div class="col-md-3 form-group">
              <label>Closing With</label>
            </div>
            <div class="col-md-3 form-group">
              {{data.closingWith}}
            </div>
            <div class="col-md-3 form-group">
                <label>Lining</label>
              </div>
              <div class="col-md-3 form-group">
                {{data.lining}}
              </div>
              <div class="col-md-3 form-group">
                <label>Special Instruction</label>
              </div>
              <div class="col-md-3 form-group">
                {{data.specialInstruction}}
              </div>
              <div class="col-md-3 form-group">
                  <label>Price</label>
                </div>
                <div class="col-md-3 form-group">
                  {{data.price}}
                </div>
                <div class="col-md-3 form-group">
                  <label>Discount</label>
                </div>
                <div class="col-md-3 form-group">
                  {{data.discount}}
                </div>
</div> -->
