.pageBoxLg {
    border: 1px solid #c8ced3;
    color: #3f51b5;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 13px;
    background-color: #f2f3f8 !important;
    margin: 25px;
    margin-top: 58px;
  }
  
  .newNow {
    margin-top: 15px;
    background: #f2f3f8;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
  }
  .imgEdit{
      width: 100%;
      height: 250px;
      border-radius: 5px;
  }
  .addButtons {
    margin: 10px;
    background-color: #8f9bb3;
    color: #fff;
    border-radius: 27%;
    position: relative;
    left: -25%;
  }
  
  .addButtons:focus {
    outline: none; 
  }
  
th {
    background: #8f9bb3 !important;
    color: #fff;
  }
  .imgCard{
    margin: 15px;
  }
  .selectCursor{
    color: #000 !important;
  }
  .selectCursor:hover{
background-color: #8f9bb3;
  }
  .iconBtn{
    background-color: #8f9bb3;
    color: #fff !important;
  }
  .iconBtn:focus{
    outline: none;
  }
  .rowEdit{
    color: #fff;
  }
  th {
    background: #8f9bb3 !important;
    color: #fff;
    font-weight: 300 !important;
  }