.inputclass{
    height: 36px;
    width:140px;
  margin: auto;
}
.addproduct{
    margin-left:7%;
  
}
.selectCursor{
  cursor: pointer;
}
select.mat-input-element:not(:disabled) {
  cursor: pointer;
  top: -6px;
  left: 12px;
}
.parentLabel{
text-align: center;
}
.childtLabel{
  text-align: center;
}
.headerwrapper__searchbox {
  position: relative;
  left: -1px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #F7F5F3; */
  border: 1px solid #5f5d5d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width:230px;
  height: 40px;
  /* margin-left: -13px; */
}
.headerwrapper__searchbox input {
  width: 95%;
  border: 0;
  outline: 0;
  /* font-family: "HelveticaNeue"; */
  font-weight: normal;
  font-size: 17px;
  color: #333333;
  padding-right: 1rem;
  background: transparent;
  /* display: none; */
}
.headerwrapper__searchbox img {
  height: 1.5rem;
}
.parentChildLabel{

  width: 71px;
  border: 1px solid #5f5d5d;
  border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
  height: 40px;
  right: 10px;
}
.searchbar{
  left: -1px;
  position: relative;
height: 40px;
width: 200px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border: 1px solid #939090;
}
.pagination li{
  font-size: 25px;
  /* background-color: #ccc; */
  padding: 5px;
  cursor: pointer;
  color: #333;
}
.pagination{
  display: inline-block;
    float: none;
}