<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Homepage / Multiple Row</p>
    </div>
<div class="row productMoreInfo">
    <div class="col-md-12">
      <nav class="multipleNav">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a  [class.activeClass]="selectedItemTab === acc.name" (click)="selectedTab(acc.name)" class="nav-item nav-link" 
        id="nav-profile-tab" data-toggle="tab" role="tab"
        aria-controls="nav-profile"  aria-selected="false"
        *ngFor="let acc of profiledetails" [routerLink]="acc.link" routerLinkActive
          #rla="routerLinkActive" >
          <h4 [class.activeHeading]="selectedItemTab == acc.name" class="tabHeading" role="presentation">
         <b>{{acc.name}}</b>
        </h4>
        </a>
          </div>
      </nav>
    </div>
    <div class="col-md-12">
      <div class="container">
        <div class="m-3"  id="nav-profile" role="tabpanel"
        aria-labelledby="nav-profile-tab">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  




<!-- 

<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Homepage / Multiple Row</p>
    </div>
<div class="row productMoreInfo ">
    <div class="col-md-12">
      <nav style="width: 70%; padding: 5px; left: 250px; position: relative;">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a  [class.activeClass]="selectedItemTab === acc.name" (click)="selectedTab(acc.name)" class="nav-item nav-link" 
        id="nav-profile-tab" data-toggle="tab" role="tab"
        aria-controls="nav-profile"  aria-selected="false"

        *ngFor="let acc of profiledetails" [routerLink]="acc.link" routerLinkActive
          #rla="routerLinkActive" >
          <h4 [class.activeHeading]="selectedItemTab == acc.name" class="tabHeading" role="presentation">
         <b> {{acc.name}}</b>
        </h4>
        </a>
          </div>
      </nav>
    </div>
    <div class="col-md-12">
      <div class="container">
        <div class="m-3"  id="nav-profile" role="tabpanel"
        aria-labelledby="nav-profile-tab">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
   -->