.pageBoxl {
    /* border: 1px solid ; */
    margin: 10px 10px 10px 10px;
    padding: 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .pageBoxLg {
    border: 1px solid #c8ced3;
    color: #3f51b5;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 13px;
    background-color: #fff;
    margin: 25px;
    margin-top: 55px;
    box-shadow: 0 0px 0px 0 rgba(172, 172, 172, 0.2), 0 0px 10px 0 rgba(150, 150, 150, 0.19);
  }
  .newNow {
    margin-top: 15px;
    background: #f2f3f8;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
  }
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(23, 29, 34);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 32, 34);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.addButtons {
  margin: 10px;
  background-color: #8f9bb3;
  color: #fff;
  border-radius: 27%;
}

.addButtons:focus {
  outline: none; 
}th {
  background: #8f9bb3 !important;
  color: #fff !important;
}
table{
  box-shadow: 0 0px 0px 0 rgba(172, 172, 172, 0.2), 0 0px 10px 0 rgba(150, 150, 150, 0.19);
}