.matCtrl {
  margin: 10px;
  background-color: #f0f3f5;
}

.attributeedit {
  background-color: black;
  color: #fff;
  letter-spacing: 2px;
  padding: 10px;

}

/* .grid {
  margin-top: 20px;
} */

.fieldheader {
  font-size: 14px;
  font: bold;
  box-shadow: none !important;
  padding: 2px !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  background-color: #f2f3f8  !important;
  color: #000 !important;
  border-radius: 5px !important;
}

.btnNew {
  background-color: #FF5778;
  color: #f0f3f5;
}

.btnNew {
  background-color: #FF5778 !important;
  color: #f0f3f5;
}

.selectValue {
  cursor: pointer;
}

.ctrlCard {
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    margin: 10px;
}

/* .cancleNow{
    background-color: #FF5778;
    color: #fff;
}*/

.deleteNow {
  background-color: red;
  color: #fff;
}

.cancleNow:focus {
  outline: none;
}

.imgCard {
  width: 100%;
  height: auto;
  margin: 10px;
}

th {
  background: #8f9bb3 !important;
  color: #fff;
  font-weight: 300 !important;
}

.pageBoxLg {
  border: 1px solid #c8ced3;
  color: #3f51b5;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 13px;
  background-color: #f2f3f8 !important;
  margin: 25px;
  margin-top: 58px;
}

.newNow {
  margin-top: 15px;
  background: #f2f3f8;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, .54);
}

.addButtons {
    margin: 10px;
    background-color: #8f9bb3;
    color: #fff;
    border-radius: 27%;
   
  }
  
  .addButtons:focus {
    outline: none; 
  }
  .iconBtn{
      background-color: #8f9bb3;
      margin: 10px;
  }
  .gridRowz{
    box-shadow: none !important;
    padding: 2px !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    background-color: #f2f3f8  !important;
    color: #000 !important;
    border-radius: 5px !important;
  }

  .fieldheader .form-group{
    margin-top: 10px;
  }