<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <mat-card class="newNow">
        <p style="padding-top: 21px;padding-left: 20px"> Category > Main Category</p>
      </mat-card>

  </div>
<mat-card class="pageBoxLg">
<div class="categoryRow row">
   <div class="col-md-5"></div>
  <div class="form-group col-sm-12 col-md-2">
    <div class="textContainer ">
      <mat-card style="background: #ccd9f131 !important;">
      <mat-form-field>
        <mat-select #selectElem1 (selectionChange)="getCategory(selectElem1.value)"
          placeholder="Select super category">
          <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
            {{category.categoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-2">
      <h1 class="ctrlBtnA">
        <button class="addButtons" mat-flat-button color="primary" (click)="addMainCategorys()"> <i
            class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> 
            <a style="margin-left: 10px;">Add Main Category</a> 
          </button>
    
    </h1>
  </div>
</div>
<div class="categoryRow ">
   
  <table mat-table [dataSource]="mainCategoryData" class="container-fluid border text-strong">
    <div class="col-md-4 text-center">
    <ng-container matColumnDef="categoryName">

      <th mat-header-cell *matHeaderCellDef><h5>Category Name</h5></th>
      <td mat-cell *matCellDef="let element">

        {{element.mainCategoryName }}
      </td>

    </ng-container></div>
    <div class="col-md-4 text-center">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef><h5>Description</h5></th>
      <td mat-cell *matCellDef="let element"> {{element.mainCategoryDescription}} </td>
    </ng-container>
    </div>
    <div class="col-md-4 text-center">
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef><h5>Action</h5></th>
      <td mat-cell *matCellDef="let element"><!--  <button mat-icon-button mat-sm-button color="primary"
          (click)="deleteMainCategory(element._id)"> -->
          <div class=" vcenter form-group">
              
              <button class="iconBtn" mat-mini-fab [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
      
                <!-- <a class="nav-link" >View</a>
                <a class="nav-link" >Update Status</a> -->
                
                <a class="nav-link selectCursor" (click)=" editMainCategory(element._id)">Edit</a>
           
                <a class="nav-link selectCursor" (click)="openDialog(element._id)">Delete</a>
              </mat-menu>
            </div>
          <!-- <mat-icon>delete</mat-icon> -->
        <!-- </button> -->
        <!--  <button mat-icon-button mat-sm-button color="primary" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button> -->
      </td>
    </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<!-- </div>
</form> -->
</mat-card>




<!-- 
<div class="pageBoxLg">
  <label class="pageBoxLg-label ">Main Category</label>
  <form [formGroup]="mainCategoryForm" (ngSubmit)="addMainCategory()" novalidate>
    <div class="flex categoryRow">
      <div class="card">
        <div class="flex categoryBody">
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field>
                <mat-select #selectElem (selectionChange)="setNewUser(selectElem.value)"
                  placeholder="Select super category">
                  <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
                    {{category.categoryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
         
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Main Category Name" formControlName="mainCategoryName" required #name
                  (keyup)="categoryVerify(name.value)">

                <mat-error *ngIf="mainCategoryForm.controls['mainCategoryName'].errors?.required">
                  Main Category Name is
                  <strong>required</strong>
                </mat-error>

              </mat-form-field>
              <div *ngFor="let data of selectedmainCategoryModel">
                <div *ngIf="data.mainCategoryNameError">
                  <small style="color: red">Main Category Name already <strong>exists</strong></small>
                </div>
              </div>
            </div>
          </div>
          
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Main Category Description</mat-label>
                <input matInput placeholder="Main Category Description" formControlName="mainCategoryDescription" #desc>
                <mat-error *ngIf="mainCategoryForm.controls['mainCategoryDescription'].errors?.required">
                  Main Category Description
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">

            </div>
          <div class="categoryField">
            <div class="form-group">
              <input [disabled]="duplicationError  || !mainCategoryForm.valid" class="btn btn-danger" type="submit"
                value="Save">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="categoryRow">
    <label>View Main Category</label>
    <div class="form-group col-sm-12 col-md-2">
      <div class="textContainer">
        <mat-form-field>
          <mat-select #selectElem1 (selectionChange)="getCategory(selectElem1.value)"
            placeholder="Select super category">
            <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
              {{category.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="categoryRow">

    <table mat-table [dataSource]="mainCategoryData" class="container-fluid border text-strong">
      <ng-container matColumnDef="categoryName">

        <th mat-header-cell *matHeaderCellDef> Category Name</th>
        <td mat-cell *matCellDef="let element">

          {{element.mainCategoryName }}
        </td>

      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.mainCategoryDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element"> 
          <div class=" vcenter form-group">
            <button  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
    
              <a class="nav-link selectCursor" [routerLink]="['/category/editmaincategory/',headCatSelected, element._id]" >Edit</a>
              <a class="nav-link selectCursor"  >Delete</a>
            </mat-menu>
          </div>
        
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div> -->



<!-- 

<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
    <p style="padding-top: 21px;padding-left: 20px"> Category / Main Category</p>
    </div>
<mat-card class="pageBoxLg" style="background: #e4e5e6;">
  <label  class="pageBoxLg-label pblabel">Main Category </label>
  
  

  <div class="categoryRow row">
     <div class="col-md-5"></div>
    <div class="form-group col-sm-12 col-md-2">
      <div class="textContainer ">
        <mat-form-field>
          <mat-select #selectElem1 (selectionChange)="getCategory(selectElem1.value)"
            placeholder="Select super category">
            <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
              {{category.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2  text-right">
        <h1 style="text-align: end">
          <button class="addButton" mat-flat-button color="primary" (click)="addMainCategorys()"> <i
              class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <a style="margin-left: 10px;">Add Main Category</a> </button>
      
      </h1>
    </div>
  </div>
  <div class="categoryRow ">
     
    <table mat-table [dataSource]="mainCategoryData" class="container-fluid border text-strong">
      <div class="col-md-4 text-center">
      <ng-container matColumnDef="categoryName">

        <th mat-header-cell *matHeaderCellDef><h5>Category Name</h5></th>
        <td mat-cell *matCellDef="let element">

          {{element.mainCategoryName }}
        </td>

      </ng-container></div>
      <div class="col-md-4 text-center">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef><h5>Description</h5></th>
        <td mat-cell *matCellDef="let element"> {{element.mainCategoryDescription}} </td>
      </ng-container>
      </div>
      <div class="col-md-4 text-center">
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><h5>Action</h5></th>
        <td mat-cell *matCellDef="let element">
            <div class=" vcenter form-group">
                <button  mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
        
                  <a class="nav-link selectCursor" (click)=" editMainCategory(element._id)">Edit</a>
                  <a class="nav-link selectCursor" (click)="openDialog(element._id)">Delete</a>
                </mat-menu>
              </div>
         
        </td>
      </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</mat-card> -->

<!-- <div class="pageBoxLg">
  <label class="pageBoxLg-label ">Main Category</label>
  <form [formGroup]="mainCategoryForm" (ngSubmit)="addMainCategory()" novalidate>
    <div class="flex categoryRow">
      <div class="card">
        <div class="flex categoryBody">
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field>
                <mat-select #selectElem (selectionChange)="setNewUser(selectElem.value)"
                  placeholder="Select super category">
                  <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
                    {{category.categoryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
         
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Main Category Name" formControlName="mainCategoryName" required #name
                  (keyup)="categoryVerify(name.value)">

                <mat-error *ngIf="mainCategoryForm.controls['mainCategoryName'].errors?.required">
                  Main Category Name is
                  <strong>required</strong>
                </mat-error>

              </mat-form-field>
              <div *ngFor="let data of selectedmainCategoryModel">
                <div *ngIf="data.mainCategoryNameError">
                  <small style="color: red">Main Category Name already <strong>exists</strong></small>
                </div>
              </div>
            </div>
          </div>
          
          <div class="categoryField">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Main Category Description</mat-label>
                <input matInput placeholder="Main Category Description" formControlName="mainCategoryDescription" #desc>
                <mat-error *ngIf="mainCategoryForm.controls['mainCategoryDescription'].errors?.required">
                  Main Category Description
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="categoryField">

            </div>
          <div class="categoryField">
            <div class="form-group">
              <input [disabled]="duplicationError  || !mainCategoryForm.valid" class="btn btn-danger" type="submit"
                value="Save">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="categoryRow">
    <label>View Main Category</label>
    <div class="form-group col-sm-12 col-md-2">
      <div class="textContainer">
        <mat-form-field>
          <mat-select #selectElem1 (selectionChange)="getCategory(selectElem1.value)"
            placeholder="Select super category">
            <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
              {{category.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="categoryRow">

    <table mat-table [dataSource]="mainCategoryData" class="container-fluid border text-strong">
      <ng-container matColumnDef="categoryName">

        <th mat-header-cell *matHeaderCellDef> Category Name</th>
        <td mat-cell *matCellDef="let element">

          {{element.mainCategoryName }}
        </td>

      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.mainCategoryDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element"> 
          <div class=" vcenter form-group">
            <button  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
    
              <a class="nav-link selectCursor" [routerLink]="['/category/editmaincategory/',headCatSelected, element._id]" >Edit</a>
              <a class="nav-link selectCursor"  >Delete</a>
            </mat-menu>
          </div>
         
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


  
</div>
 -->